/** --------------------------------------------------------------
 *  Header
 */

@maxButtonFontSize: 2em;
/*@navbarItemBgColor: #096;*/
@navbarItemBgColor: #66b3ff;

// Flas imagae size
.flash-wrap{
    & img {
        max-width: 100%;
    }
}

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: @maxButtonFontSize;
}

// Style navbar
.rm-desktop li {
    background-color: @navbarItemBgColor;
}

.navbar2 {
    background-color: @navbarItemBgColor;
}

// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    display: inline-block;
    float: left;
    /*width: 30%;*/
    margin-right: 1em;
}

.site-header {
    height: 80px;
}

// Site title
.site-logo-text {
    font-size: 2em;
    a {
        color: #1a1a1a;
        text-decoration: none;
    }
}
